/* Style for the main container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the iframe */
  iframe {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    border: none;
  }
  
  /* Style for the filters section */
  .filters {
    margin-top: 20px;
  }
  
  .filters select {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters button {
    padding: 5px 10px;
    background-color: #001F3E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filters button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the chart sections */
  .chart-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #001F3E; */
  }
  
  .chart-section .chart-container {
    /* border: 2px solid #001F3E; */
    width: 48%;
    margin-right: 20px;
  }
  
  .chart-section h2 {
    margin-bottom: 10px;
    /* margin-right: 10px; */
    margin-left: 10px;
  }
  .chart-section2{
    border: 2px solid #ccc;
  }
  /* Style for the button to show mitigation techniques */
  .show-mitigation-button {
    margin-top: 20px;
  }
  
  .show-mitigation-button button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .show-mitigation-button button:hover {
    background-color: #218838;
  }

  .chart-section21{
    margin-left: 10px;
  }
  .chart-section22{
    margin-right: 10px;
  }