

  .threat-container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 300vh;
    background-color: #ccc;
    /* width: 70%; */
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .threat-container > div {
    text-align: center; /* Center the content horizontally */
  }
  
  .threat-container select,
  .threat-container h2,
  .threat-container h3 {
    margin: 10px; /* Add some spacing between elements */
  }
  
  .threat-container select,
  .threat-container h3 {
    font-size: 1rem; /* Adjust font size if needed */
  }
  
  
  .content {
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .chart-container {
    margin-top: 2rem;
    position: relative;
  }
  
  .chart {
    position: relative;
  }
  
  .score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .doughnut{
    margin-left: 20%;
    /* margin-right: 50%; */
  }
  .text{
    flex-direction: row;
  }